.alg-wc-alfs-progress {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 5px;
  overflow: hidden;
}

.alg-wc-alfs-progress-bar {
  width: 0%;
  height: 20px;
  background-color: #007bff;
  border-radius: 5px;
  position: relative;
}

@keyframes progress-animation {
  from { width: 0%; }
}

@-webkit-keyframes progress-bar-stripes {
  to {
    background-position: 40px 0;
  }
  from {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  to {
    background-position: 40px 0;
  }
  from {
    background-position: 0 0;
  }
}
@keyframes progress-bar-animate-shine{ 0%{opacity:0;width:0}50%{opacity:.5}to{opacity:0;width:100%} }

@-webkit-keyframes progress-bar-animate-shine { 0%{opacity:0;width:0}50%{opacity:.5}to{opacity:0;width:100%}) }



.alg-wc-alfs-progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}
